[project]
	description = Creates files with information about starting, ending and other states of scripts.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tomáš Vališka (walja)
[access "refs/for/refs/*"]
	read = group user/Tomáš Vališka (walja)
	push = group user/Tomáš Vališka (walja)
	label-Code-Review = -2..+2 group user/Tomáš Vališka (walja)
	label-Verified = -1..+1 group user/Tomáš Vališka (walja)
	rebase = group user/Tomáš Vališka (walja)
	removeReviewer = group user/Tomáš Vališka (walja)
	submit = group user/Tomáš Vališka (walja)
[access "refs/heads/*"]
	read = group user/Tomáš Vališka (walja)
	create = group user/Tomáš Vališka (walja)
	push = +force group user/Tomáš Vališka (walja)
	pushMerge = group user/Tomáš Vališka (walja)
[access "refs/tags/*"]
	push = +force group user/Tomáš Vališka (walja)
	pushTag = group user/Tomáš Vališka (walja)
	pushSignedTag = group user/Tomáš Vališka (walja)
